In [1]:
import csv

# copied from https://automatetheboringstuff.com/chapter14/
def process_csv(filename):
    exampleFile = open(filename, encoding="utf-8")
    exampleReader = csv.reader(exampleFile)
    exampleData = list(exampleReader)
    exampleFile.close()
    return exampleData

import json
def read_json(path):
    with open(path, encoding="utf-8") as f:
        return json.load(f) # dict, list, etc
    
# data is a dict, list, etc
def write_json(path, data):
    with open(path, 'w', encoding="utf-8") as f:
        json.dump(data, f, indent=2)

In [2]:
player_data = process_csv('Fifa20.csv')
header = player_data[0]
player_data = player_data[1:]
for row in player_data:
    for idx in [2, 4]:
        row[idx] = int(row[idx])
        
print(header)

['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Club', 'Position', 'Value', 'Wage', 'Preferred Foot', 'Jersey Number', 'Height', 'Weight']

In [3]:
#q1
retVal = ""
cmp = 1000
# for i in range(len(player_data)):
#     if int(player_data[i][header.index("Age")]) > cmp:
#         cmp = int(player_data[i][header.index("Age")])
#         retVal = player_data[i][header.index("Name")]

for row in player_data:
    if row[header.index("Age")] < cmp:
        cmp = row[header.index("Age")]
        retVal = row[header.index("Name")]
        
retVal

'A. Hložek'

In [4]:
def format_num(num):
    if len(num) <= 2:
        return 0
    val = float(num[1:-1])
    if (num[-1] == "K"):
        val *= 1000
    elif (num[-1] == "M"):
        val *= 1000000
    elif (num[-1] == "B"):
        val *= 1000000000   
    return val
        
# for i in range(len(player_data)):
#     print(i)
#     format_num(player_data[i][header.index("Wage")])

In [5]:
#q2
retVal = ""
cmpVal = 0
for row in player_data:
    cmp = 0
    if len(row[header.index("Wage")]) > 2:
        cmp = format_num(row[header.index("Wage")])        
    if cmp > cmpVal:
        cmpVal = cmp
        retVal = row[header.index("Name")]
        
retVal

'L. Messi'

In [6]:
#q3
retVal = ""
cmpVal = 0
for row in player_data:
    cmp = 0
    if len(row[header.index("Value")]) > 2:
        cmp = format_num(row[header.index("Value")])        
    if cmp > cmpVal:
        cmpVal = cmp
        retVal = row[header.index("Name")]
        
retVal

'Neymar Jr'

In [7]:
#q4
retVal = ""
cmpVal = 0
for row in player_data:
    cmp = 0
    if len(row[header.index("Value")]) > 2:
        cmp = format_num(row[header.index("Value")])        
    if cmp > cmpVal:
        cmpVal = cmp
        retVal = row[header.index("Position")]
        
retVal

'LW'

In [8]:
def get_column(col_name):
    ret = []
    for row in player_data:
        ret.append(row[header.index(col_name)])
    return ret

In [9]:
#q5
get_column("Club")[:5]

['FC Barcelona',
 'Juventus',
 'Paris Saint-Germain',
 'Atlético Madrid',
 'Real Madrid']

In [10]:
#q6
ret = list(set(get_column("Name")))
# res = [] 
# [res.append(x) for x in test_list if x not in res]
ret.sort()
ret[:6]

['A. Abdallah',
 'A. Abdellaoui',
 'A. Abdennour',
 'A. Abdi',
 'A. Abdu',
 'A. Abedzadeh']

In [11]:
#q7
retVal = 0
cnt = 0
for row in player_data:
    cnt += 1
    if len(row[header.index("Wage")]) > 2:
        retVal += format_num(row[header.index("Wage")])        
#     else:
#         print(row[header.index("Wage")])
              
retVal/cnt

9456.942772732247

In [12]:
#q8
retVal = 0
cnt = 0
for row in player_data:
    cnt += 1
    retVal += row[header.index("Overall")] 
              
retVal/cnt

66.24499398183609

In [13]:
#q9
def player_cnt(position):
    cnt = 0
    for row in player_data:
        if row[header.index("Position")] == position:
            cnt += 1
    return cnt

player_cnt("GK")

2036

In [14]:
#q10
player_cnt("CAM")

1146

In [15]:
#q11
player_cnt = {}
for row in player_data:
    index = row[header.index("Position")]
    player_cnt[index] = player_cnt.get(index, 0) + 1

print(player_cnt)
    
cmp = 0    
retVal = ""
for key, val in player_cnt.items():
    if int(val) > cmp:
        cmp = int(val)
        retVal = key
#     print(key, val)
        
retVal

{'RW': 369, 'ST': 2582, 'LW': 378, 'GK': 2036, 'CAM': 1146, 'CB': 3162, 'CM': 2193, 'CDM': 1424, 'CF': 113, 'LB': 1303, 'RB': 1314, 'RM': 1050, 'LM': 1049, 'LWB': 90, 'RWB': 69}

'CB'

In [16]:
#q12
def player_to_dict(player_id):
    player_cnt = {}
    for row in player_data:
        if row[header.index("ID")] == player_id:
            for key in header:
                player_cnt[key] = row[header.index(key)]
    return player_cnt

player_to_dict('183277')

{'ID': '183277',
 'Name': 'E. Hazard',
 'Age': 28,
 'Nationality': 'Belgium',
 'Overall': 91,
 'Club': 'Real Madrid',
 'Position': 'LW',
 'Value': '€90M',
 'Wage': '€470K',
 'Preferred Foot': 'Right',
 'Jersey Number': '7',
 'Height': "5'9",
 'Weight': '163lbs'}

In [17]:
#q13
player_to_dict('209331')

{'ID': '209331',
 'Name': 'M. Salah',
 'Age': 27,
 'Nationality': 'Egypt',
 'Overall': 90,
 'Club': 'Liverpool',
 'Position': 'RW',
 'Value': '€80.5M',
 'Wage': '€240K',
 'Preferred Foot': 'Left',
 'Jersey Number': '11',
 'Height': "5'9",
 'Weight': '157lbs'}

In [18]:
#q14
player_to_dict('195864')

{'ID': '195864',
 'Name': 'P. Pogba',
 'Age': 26,
 'Nationality': 'France',
 'Overall': 88,
 'Club': 'Manchester United',
 'Position': 'CM',
 'Value': '€72.5M',
 'Wage': '€250K',
 'Preferred Foot': 'Right',
 'Jersey Number': '6',
 'Height': "6'3",
 'Weight': '185lbs'}

In [19]:
#q15
player_to_dict('177003')

{'ID': '177003',
 'Name': 'L. Modrić',
 'Age': 33,
 'Nationality': 'Croatia',
 'Overall': 90,
 'Club': 'Real Madrid',
 'Position': 'CM',
 'Value': '€45M',
 'Wage': '€340K',
 'Preferred Foot': 'Right',
 'Jersey Number': '10',
 'Height': "5'8",
 'Weight': '146lbs'}

In [20]:
#q16
rht = 0
for row in player_data:
    if row[header.index("Preferred Foot")] == "Right":
        rht += 1
        
ret = {"Left": len(player_data)-rht, "Right": rht}
ret

{'Left': 4318, 'Right': 13960}

In [21]:
#q17
player_cnt = {}
for row in player_data:
    index = row[header.index("Nationality")]
    player_cnt[index] = player_cnt.get(index, 0) + 1

player_cnt

{'Argentina': 886,
 'Portugal': 344,
 'Brazil': 824,
 'Slovenia': 61,
 'Belgium': 268,
 'Germany': 1216,
 'Netherlands': 416,
 'Croatia': 126,
 'Egypt': 30,
 'France': 984,
 'Senegal': 127,
 'England': 1667,
 'Spain': 1035,
 'Italy': 732,
 'Uruguay': 164,
 'Poland': 324,
 'Denmark': 345,
 'Gabon': 16,
 'Korea Republic': 322,
 'Costa Rica': 30,
 'Slovakia': 54,
 'Bosnia Herzegovina': 66,
 'Serbia': 139,
 'Scotland': 277,
 'Hungary': 35,
 'Switzerland': 229,
 'Greece': 96,
 'Austria': 319,
 'Morocco': 94,
 'Sweden': 358,
 'Wales': 117,
 'Colombia': 591,
 'Czech Republic': 102,
 'Chile': 370,
 'Algeria': 50,
 'Ivory Coast': 105,
 'Togo': 13,
 'Norway': 350,
 'Mexico': 340,
 'Iceland': 46,
 'Finland': 72,
 'Jamaica': 29,
 'Albania': 43,
 'Guinea': 35,
 'Cameroon': 78,
 'Ghana': 130,
 'Montenegro': 33,
 'Ukraine': 69,
 'Russia': 81,
 'DR Congo': 54,
 'Central African Rep.': 4,
 'Venezuela': 66,
 'Nigeria': 126,
 'Armenia': 8,
 'Israel': 16,
 'Ecuador': 53,
 'Paraguay': 80,
 'Australia': 196,
 'Turkey': 294,
 'Romania': 287,
 'Japan': 453,
 'Mali': 55,
 'United States': 347,
 'Kosovo': 40,
 'Dominican Republic': 4,
 'Tanzania': 4,
 'China PR': 373,
 'Northern Ireland': 81,
 'Republic of Ireland': 348,
 'Tunisia': 35,
 'Cape Verde': 20,
 'FYR Macedonia': 20,
 'Burkina Faso': 16,
 'Kenya': 7,
 'Angola': 16,
 'South Africa': 72,
 'Peru': 35,
 'Syria': 4,
 'Gambia': 22,
 'New Zealand': 35,
 'Equatorial Guinea': 6,
 'Zimbabwe': 12,
 'Georgia': 25,
 'Canada': 61,
 'Estonia': 6,
 'Benin': 15,
 'Bulgaria': 41,
 'Mozambique': 4,
 'Honduras': 13,
 'Guinea Bissau': 21,
 'Iran': 15,
 'Philippines': 2,
 'Cyprus': 11,
 'Madagascar': 8,
 'Uzbekistan': 3,
 'Moldova': 12,
 'Cuba': 4,
 'Sierra Leone': 10,
 'Curacao': 16,
 'Zambia': 10,
 'Congo': 18,
 'Bolivia': 23,
 'Comoros': 9,
 'Iraq': 5,
 'Chad': 1,
 'Lithuania': 10,
 'Saudi Arabia': 310,
 'Panama': 12,
 'Libya': 4,
 'Bahrain': 1,
 'St Kitts Nevis': 4,
 'New Caledonia': 2,
 'Luxembourg': 9,
 'Trinidad & Tobago': 6,
 'Thailand': 4,
 'United Arab Emirates': 22,
 'Eritrea': 1,
 'Korea DPR': 4,
 'El Salvador': 4,
 'Azerbaijan': 6,
 'Latvia': 6,
 'Montserrat': 3,
 'Puerto Rico': 1,
 'Bermuda': 3,
 'São Tomé & Príncipe': 1,
 'Antigua & Barbuda': 7,
 'Burundi': 4,
 'Kazakhstan': 2,
 'Liberia': 1,
 'Guyana': 4,
 'Haiti': 7,
 'Jordan': 1,
 'Faroe Islands': 5,
 'Mauritania': 5,
 'Namibia': 2,
 'Rwanda': 2,
 'Uganda': 3,
 'Hong Kong': 1,
 'Chinese Taipei': 1,
 'Belize': 1,
 'Palestine': 4,
 'Mauritius': 1,
 'Guam': 1,
 'Suriname': 2,
 'Lebanon': 3,
 'Guatemala': 2,
 'Sudan': 3,
 'Liechtenstein': 2,
 'Grenada': 2,
 'St Lucia': 1,
 'Afghanistan': 2,
 'Ethiopia': 1,
 'Barbados': 1,
 'India': 23,
 'Malta': 2,
 'Niger': 3,
 'Vietnam': 1,
 'Malawi': 1,
 'Gibraltar': 1,
 'Macau': 1,
 'South Sudan': 1,
 'Indonesia': 1}

In [22]:
#q18
player_score = {}
for row in player_data:
    index = row[header.index("Nationality")]
    player_score[index] = player_score.get(index, 0) + row[header.index("Overall")]

# print(player_score) 

for key, val in player_score.items():
    player_score[key] = (val / player_cnt[key])

player_score

{'Argentina': 69.11851015801355,
 'Portugal': 70.51453488372093,
 'Brazil': 71.1614077669903,
 'Slovenia': 68.70491803278688,
 'Belgium': 68.43283582089552,
 'Germany': 65.93914473684211,
 'Netherlands': 68.14903846153847,
 'Croatia': 69.78571428571429,
 'Egypt': 70.1,
 'France': 67.41666666666667,
 'Senegal': 68.64566929133858,
 'England': 63.251949610077986,
 'Spain': 69.9536231884058,
 'Italy': 67.65710382513662,
 'Uruguay': 71.64634146341463,
 'Poland': 63.49074074074074,
 'Denmark': 63.68115942028985,
 'Gabon': 70.6875,
 'Korea Republic': 63.683229813664596,
 'Costa Rica': 68.23333333333333,
 'Slovakia': 69.31481481481481,
 'Bosnia Herzegovina': 68.87878787878788,
 'Serbia': 69.48920863309353,
 'Scotland': 64.75090252707581,
 'Hungary': 69.68571428571428,
 'Switzerland': 64.8471615720524,
 'Greece': 69.39583333333333,
 'Austria': 65.59561128526646,
 'Morocco': 69.69148936170212,
 'Sweden': 63.79050279329609,
 'Wales': 64.6923076923077,
 'Colombia': 65.67851099830796,
 'Czech Republic': 70.31372549019608,
 'Chile': 64.80540540540541,
 'Algeria': 71.38,
 'Ivory Coast': 69.0,
 'Togo': 69.38461538461539,
 'Norway': 63.02857142857143,
 'Mexico': 65.80882352941177,
 'Iceland': 67.28260869565217,
 'Finland': 63.81944444444444,
 'Jamaica': 66.6896551724138,
 'Albania': 66.4186046511628,
 'Guinea': 68.8,
 'Cameroon': 68.33333333333333,
 'Ghana': 66.97692307692307,
 'Montenegro': 66.36363636363636,
 'Ukraine': 69.8695652173913,
 'Russia': 69.33333333333333,
 'DR Congo': 68.4074074074074,
 'Central African Rep.': 70.5,
 'Venezuela': 67.07575757575758,
 'Nigeria': 67.15079365079364,
 'Armenia': 69.375,
 'Israel': 71.125,
 'Ecuador': 70.49056603773585,
 'Paraguay': 69.7875,
 'Australia': 62.58163265306123,
 'Turkey': 66.06802721088435,
 'Romania': 63.70383275261324,
 'Japan': 63.69094922737307,
 'Mali': 67.50909090909092,
 'United States': 64.53025936599424,
 'Kosovo': 66.625,
 'Dominican Republic': 67.5,
 'Tanzania': 63.25,
 'China PR': 59.48525469168901,
 'Northern Ireland': 63.79012345679013,
 'Republic of Ireland': 61.00574712643678,
 'Tunisia': 68.25714285714285,
 'Cape Verde': 70.5,
 'FYR Macedonia': 68.7,
 'Burkina Faso': 66.4375,
 'Kenya': 65.28571428571429,
 'Angola': 69.375,
 'South Africa': 67.72222222222223,
 'Peru': 69.74285714285715,
 'Syria': 70.25,
 'Gambia': 65.31818181818181,
 'New Zealand': 64.17142857142858,
 'Equatorial Guinea': 69.0,
 'Zimbabwe': 67.25,
 'Georgia': 69.04,
 'Canada': 63.91803278688525,
 'Estonia': 66.33333333333333,
 'Benin': 67.66666666666667,
 'Bulgaria': 63.46341463414634,
 'Mozambique': 73.25,
 'Honduras': 68.38461538461539,
 'Guinea Bissau': 67.38095238095238,
 'Iran': 69.0,
 'Philippines': 69.0,
 'Cyprus': 61.72727272727273,
 'Madagascar': 70.25,
 'Uzbekistan': 67.66666666666667,
 'Moldova': 65.0,
 'Cuba': 67.25,
 'Sierra Leone': 63.0,
 'Curacao': 66.0,
 'Zambia': 67.1,
 'Congo': 65.44444444444444,
 'Bolivia': 66.04347826086956,
 'Comoros': 65.22222222222223,
 'Iraq': 67.6,
 'Chad': 73.0,
 'Lithuania': 63.4,
 'Saudi Arabia': 60.92903225806452,
 'Panama': 66.0,
 'Libya': 71.0,
 'Bahrain': 72.0,
 'St Kitts Nevis': 62.75,
 'New Caledonia': 67.5,
 'Luxembourg': 65.66666666666667,
 'Trinidad & Tobago': 65.83333333333333,
 'Thailand': 64.0,
 'United Arab Emirates': 62.86363636363637,
 'Eritrea': 71.0,
 'Korea DPR': 65.75,
 'El Salvador': 67.25,
 'Azerbaijan': 62.833333333333336,
 'Latvia': 61.666666666666664,
 'Montserrat': 66.0,
 'Puerto Rico': 70.0,
 'Bermuda': 63.666666666666664,
 'São Tomé & Príncipe': 70.0,
 'Antigua & Barbuda': 59.42857142857143,
 'Burundi': 63.75,
 'Kazakhstan': 68.0,
 'Liberia': 69.0,
 'Guyana': 63.5,
 'Haiti': 63.285714285714285,
 'Jordan': 68.0,
 'Faroe Islands': 61.4,
 'Mauritania': 65.2,
 'Namibia': 67.0,
 'Rwanda': 64.0,
 'Uganda': 66.0,
 'Hong Kong': 67.0,
 'Chinese Taipei': 66.0,
 'Belize': 66.0,
 'Palestine': 62.0,
 'Mauritius': 66.0,
 'Guam': 66.0,
 'Suriname': 66.0,
 'Lebanon': 64.0,
 'Guatemala': 65.5,
 'Sudan': 62.666666666666664,
 'Liechtenstein': 62.0,
 'Grenada': 60.5,
 'St Lucia': 64.0,
 'Afghanistan': 62.0,
 'Ethiopia': 64.0,
 'Barbados': 64.0,
 'India': 60.0,
 'Malta': 60.0,
 'Niger': 57.0,
 'Vietnam': 62.0,
 'Malawi': 62.0,
 'Gibraltar': 62.0,
 'Macau': 61.0,
 'South Sudan': 59.0,
 'Indonesia': 56.0}

In [23]:
#q19
cmp = 0    
retVal = ""
for key, val in player_score.items():
    if int(val) > cmp:
        cmp = int(val)
        retVal = key
#     print(key, val)
        
retVal

'Mozambique'

In [24]:
#q20
player_score = {}
player_cnt = {}
for row in player_data:
    index = row[header.index("Club")]
    player_score[index] = player_score.get(index, 0) + format_num(row[header.index("Value")])
    player_cnt[index] = player_cnt.get(index, 0) + 1

# print(player_score) 

for key, val in player_score.items():
    player_score[key] = (val / player_cnt[key])

cmp = 0    
retVal = ""
for key, val in player_score.items():
    if int(val) > cmp:
        cmp = int(val)
        retVal = key
#     print(key, val)
        
retVal

'FC Bayern München'